.link-criar-conta {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: #E9CCAB;
}

.div-link-criar-conta {
    width: 248px;
    text-align: center;
    line-height: 19px;
}